<!DOCTYPE>
<html>
<head>
    <title>Creation: Step A</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="UTF-8"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link href="css/local.css" rel="stylesheet"/>
    <script src="js/lib/angular.js" language="JavaScript"></script>
    <script src="js/draftA-controller.js" language="JavaScript"></script>
</head>
<body ng-app="game" ng-controller="draftAController">
<div style="float:right;">
    <div>Итого:</div>
    <div>SP: {{calculateFreeSP()}}</div>
    <div>HP: {{calculateHP()}}</div>
    <div>EP: {{calculateEP()}}</div>
    <div ng-show="creation.mage">MP: {{calculateMP()}}</div>
    <div ng-show="creation.category.canSelectCategory">
        <div>Способности: {{getSpecInfo().featureCount}}/{{creation.spec.featureSlots}}</div>
        <div>Ограничения: {{getSpecInfo().limitsCount}}/{{creation.spec.limitationSlots}}</div>
        <div>Очки: {{getSpecInfo().spentPoints}}/{{getSpecInfo().maxPoints}}</div>
    </div>
</div>
<div>
    <div>Выберите расу</div>
    <div> Раса даёт определенные преимущества и недостатки - сложно подчиняться политкорректности, когда один из вас двухфутовый гном, а другой - таурен, вполне себе дорастающий до трех метров.</div>
    <select ng-model="creation.race"
            ng-change="chooseRace()"
            ng-options="r.name for r in races track by r.id">
    </select>
</div>
<div>
    <div>Выберите категорию</div>
    <div>Категория персонажа - это приблизительное определение, насколько он опытен в бою. При выборе лучше всего ориентироваться на прошлое персонажа. Например, дворяне, что живые, что мертвые, имеют почти наверняка навыки фехтования или других полезных в бою вещей. Расы, не обремененные цивилизацией (тролли, орки, таурены) точно так же не могут иметь категории "обыватель". В их условиях жизни подобное практически невозможно, если персонаж дожил хотя бы до пятнадцати лет.</div>
    <select ng-model="creation.category"
            ng-change="defineAttributesBounds()"
            ng-options="c.name for c in categories track by c.id">
    </select>
</div>
<div>
    <div>Выберите основной атрибут</div>
    <select ng-model="creation.specAttr"
            ng-change="defineAttributesBounds()">
        <option ng-repeat="(k,v) in getPhysicalAttributes()" ng-value="k">{{v.name}}</option>
    </select>
    <div>Выберите значения атрибутов</div>
    <div ng-repeat="(k, v) in creation.attributes">
        <div>{{v.name}} :
            <label ng-repeat="i in v.values">
                <input type="radio" ng-model="v.value" ng-value="i">{{i}}
            </label>
        </div>
    </div>
</div>
<div>
    <div><label>Маг<input type="checkbox" ng-model="creation.mage" ng-change="toggleMage()"></label></div>
    <div ng-hide="creation.mage">При отказе от магии, персонаж получит возможность использовать тяжелую броню ...</div>
    <div ng-show="creation.mage">
        <div>Выберите источник силы</div>
        <div ng-repeat="(k,v) in getPowerSources()">
            <label>
                <input type="radio" ng-model="creation.powerSource" ng-value="k">{{v.name}} - {{v.desc}}
            </label>
        </div>
    </div>
</div>
<div ng-show="creation.category.canSelectCategory">
    <div>Выберите особенности персонажа</div>
    <div ng-repeat="f in creation.spec.features">
        <button ng-click="subFromFeature(f)" ng-enable="canSubFeature(f)">-</button>
        <button ng-click="addToFeature(f)" ng-enable="canAddFeature(f)">+</button>
        {{f.description}} -{{f.cost}} очков. Взято {{f.value}} / {{f.maxCount}}
    </div>
    <div ng-repeat="l in creation.spec.limitations">
        <button ng-click="subFromLimitation(l)">-</button>
        <button ng-click="addToLimitation(l)">+</button>
        {{l.description}} +{{l.cost}} очков. Взято {{l.value}} / {{l.maxCount}}
    </div>
</div>
<button ng-click="submit()">Закончить</button>
</body>
</html>